.NotFound {
  padding-top: 35vh;
  background-image: linear-gradient(135deg, #ff9e00, #e05f20 25%, #ff3b48 50%, #e52a71 75%, #a500dd);
  height: calc(100vh - 140px);
  margin: 0 auto;
  color: white;
}